body {
	font-family: 'Poppins', sans-serif;
}
h1 {
	font-size: 50px;
}
.red-color {
	color: red;
}
section {
	display: flex;
}
.half-part {
	width: 60%;
}
.half-part img {
	width: 700px;
}
.text {
	width: 20%;
}
.saika {
	color: orange;
}
.link-button {
	text-decoration: none;
	border-radius: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: linear-gradient(red, orange);
	color: white;
}
